<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Customer List</h1>

<table>
  <thead>
    <tr>
      <td><%= t('activerecord.attributes.customer.name') %></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= link_to 'Show', customer_path(customer) %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Customer', new_customer_path %>