<p>
  <strong><%= t('activerecord.attributes.customer.name') %></strong>
  <%= @customer.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.customer.email') %></strong>
  <%= @customer.email %>
</p>
  
<p>
  <strong><%= t('activerecord.attributes.customer.phone') %></strong>
  <%= @customer.phone %>
</p>
    
